{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="" method="get" class="card-header">
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" name="title" placeholder="Product Title" class="form-control">
            </div>
            <div class="col-md-2">

           

                <select name="variant" id="variant" class="form-control">
                    <option value="">--Variant--</option>
                    {% for variant in var %}
                    <option >{{ variant }}</option>
                    {% endfor %}

                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="text" name="price_from" aria-label="First name" placeholder="From"
                           class="form-control">
                    <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="date" placeholder="Date" class="form-control">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Variant</th>
                    <th width="150px">Action</th>
                </tr>
                </thead>

                <tbody>
                    {% for product in product %}
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.title}} <br>{{product.created_at}}</td>
                    <td>{{product.description}}</td>
                    
                    <td>
                        {% for price in price %}
                     {% if price.product.title == product.title %} 
                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">
                                <dt class="col-sm-3 pb-0">
                                   
                                    {{ price.product_variant_one}}
                                    /
                                    {{ price.product_variant_two}}
                                    /
                                    {{ price.product_variant_three}}
                                   

                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : {{ price.price}}</dd>
                                        <dd class="col-sm-8 pb-0">InStock : {{ price.stock}}</dd>
                                    </dl>
                                </dd>
                               
                               
                            </dl>
                            {% endif %}
                            {% endfor %}
                            <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                            </button>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="" class="btn btn-success">Edit</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                No Data Found   
                {% endfor %}
            
                </tbody>

            </table>
            
        </div>

    </div>
    <nav aria-label="...">
        <ul class="pagination">
            {% if product.has_previous %}
          <li class="page-item ">
            <span class="page-link"><a href="?page={{product.previous_page_number}}"><</a></span>
          </li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
          <li class="page-item active">
            <span class="page-link">
              2
              <span class="sr-only">(current)</span>
            </span>
          </li>
          {% if product.has_next %}

          <li class="page-item">
            <a class="page-link" href="?page={{product.next_page_number}}">></a>
          </li>
          {% endif %}

        </ul>
      </nav>
    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing 1 to 2 out of {{ productlength|length }} </p>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>
{% endblock %}